<div class="border border-dark border-2 rounded bg-warning bg-opacity-10 col-9 m-3">
    <h1 class="text text-center">Router</h1>
    <div class="m-3">
    <button class=" btn btn-primary m-2"  [routerLink]="['/emplist']">Employee list</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/empcard']">Employee Card</button>
    <button class=" btn btn-primary m-2"  (click)="getRadio()">Display Radio</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/templetrefvariable']">Display Template Ref Varaible</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/switchcase']">Display Switch Case</button>
    <button class=" btn btn-primary m-2"  (click)=" getDropDown()">Display DropDown</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/ngclassExample']">Display NgClass Example</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/products']">Display Product Cards</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/templateDrivenForm']">Display Template Driven Form  </button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/pipeExample']">Display Pipes  </button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/bookList']">Display BookList</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/GetBooks']">Get Books</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/primeNgBooks']">PrimeNg Books</button>
    <button class=" btn btn-primary m-2"  [routerLink]="['/KendoUIBooks']">KendoUI Books</button>
   </div>
</div>
